@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.search {
    margin-top: 2rem;
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    height: 50px;
    text-indent: 25px;
    border: 2px solid rgb(72, 217, 236);
    border-radius: 15px;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid rgb(6, 132, 250);
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.searchIcon {
    width: 32px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}